.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: pink;
  height: 100px;
  margin: 10px;
  h2 {
    color: rgb(0, 60, 255);
  }
  //
  // LOGO
  .imgBox-punkLogo {
    width: 200px;
  }
  //
  // searchbar
  .searchBar {
    background-color: #d2d2e475;
    height: 50px;
    flex: 1; //with this, the bar will dinamically stretch
    display: flex;
    align-items: center;
    border-radius: 50px;
    //
    //
    .searchIconContainer {
      margin: 10px;
    }
    //
    //
    .searchInput {
      background-color: transparent;
      border: none;
      width: 100%;
      outline: none;
      color: rgb(78, 78, 78);
      font-size: 0.9em;
    }
  }
  //
  //
  .headerItems {
    display: flex;
    color: rgba(49, 49, 49, 0.534);
    font-size: calc(9px + 1vmin);
    font-weight: 600;
    p {
      margin: 0 10px;
    }
  }

  //
  //
  .headerActions {
    display: flex;
    align-items: center;
    .themeSwithContainer {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1c1c1e13;
      border-radius: 50px;
      padding: 15px;
      object-fit: contain;
      img {
        height: 25px;
      }
    }
  }

  //
  //GETTIN BTN

  .loginButton {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 10px 40px;
    border-radius: 50px;
    color: #070707;
    transition: all 0.3s ease-in-out;
    &:hover {
      // https://www.joshwcomeau.com/animation/css-transitions/
      transition: transform 750ms;
      will-change: transform;
      transform: translateX(5px);
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
  }

  //
  //
}
