.main {
  max-height: 50vh;
  //
  //
  //
  //----------------
  .mainContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    //
    //
    // AVATAR large image
    .punkaHighLight {
      flex: 0.25;
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;

      .punkaContainer {
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        margin-right: 20px;
        // border: 1px solid #fff;
        overflow: hidden;
        //
        .selectedPunk {
          object-fit: contain;
          max-width: (30vw, 40vh);
          // max-width: min(30vw, 40vh);
          max-height: 30vh;
        }
      }
    }
    //
    //----------------
    // punkDetails
    .punkDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0.75;
      //
      .title {
        text-transform: capitalize;
        font-size: calc(30px + 1vmin);
        font-weight: 800;
      }
      .itemNumber {
        // color: #a1a5b0;
        font-size: 72px;
        align-self: start;
      }
    }
    //
    //----------------
    //  owner
    .owner {
      display: flex;
      margin: 10px 0;
      padding: 0 10px;
      height: 50px;
      // background-color: rgb(236, 195, 195);
      .ownerImageContainer {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: contain;
        img {
          height: 100%;
          width: 100%;
        }
      }
      //
      .ownerDetails {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 10px;
        // background-color: red;
        .ownerNameAndHandle {
          flex: 1;
          h6 {
            color: rgb(255, 255, 255);
            font-size: calc(7px + 1vmin);
          }
          .ownerHandle {
            color: rgb(255, 255, 255);
          }
        }
        //icons
        .ownerLink {
          padding: 12px;
          border-radius: 50px;
          height: 50px;
          width: 50px;
          border: 2px solid #fff;
          margin: 0 0 0 10px;
          text-align: center;

          .socialIcons {
            height: 100%;
            width: 100%;
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    // ---------------
    //
  }
  //
}
