.main {
  max-height: 50vh;
  //m
  //m
  //m

  .mainContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    //
    //
    // AVATAR large image
    .punkaHighLight {
      flex: 0.25;
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
      .punkaContainer {
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        margin-right: 20px;
        border: 1px solid #fff;
        //
        .selectedPunk {
          object-fit: contain;
          // max-width: min(30vw, 40vh);
          max-height: 30vh;
        }
      }
    }
    //
    //
  }
  //
}
